<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chats </title>
</head>
<body>
    <form action="/chats/new" method="post">
        <input type="text" name="from" placeholder="who are you ??"><br><br>
        <textarea name="msg" id="msg" name="msg">write your msg here</textarea><br><br>
        <input type="text" name="to" placeholder="message recived by ??"><br><br>
        <button>create chat </button>
    </form>
</body>
</html>